@font-face {
  font-family: "rubikDirt";
  src: url('../fonts/RubikDirt-Regular.ttf') format('truetype');
}
@font-face {
  font-family: "signika";
  src: url('../fonts/SignikaNegative-Regular.ttf') format('truetype');
}
@font-face {
  font-family: "rubikMonoOne";
  src: url('../fonts/RubikMonoOne-Regular.ttf') format('truetype');
}

.rubik {
  font-family: "rubikDirt";
}
.signika {
  font-family: 'signika';
}
.rubikmono {
  font-family: 'rubikMonoOne';
}