* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    padding-top: 10px;
    padding-bottom: 10px;
}

li {
    margin-left: 1rem;
}

a {
    text-decoration: none;
}

body section {
    margin: 1rem;
}

p {
    word-wrap: break-word;
}

nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

h1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.pb-5 {
    padding-bottom: 5rem;
}

footer div {
    padding: 1rem;
}

.flex {
    display: flex;
}

.overflow-hidden {
    overflow-x: hidden;
    object-fit: cover;
}

.list-none {
    list-style-type: none;
}

.mt-2 {
    margin-top: 2rem;
}

.center {
    display: flex;
    justify-content: center;
}

.underline {
    text-decoration: underline;
}

.border {
    border: 1px solid black;
}

.img-float {
    float: left;
    clear: left;
    margin-right: 10px;
}